<h2>Shoppable BigCommerce Shoptimizer</h2>
<form action='/linkApiData' method='POST'>
  <div class='form-group row'>
    <label for="xclientData" class="col-form-label">xAuthClient</label>
    <div class="col-md-6 col-sm-10 col-lg-6">
      <input type="text" class="form-control" id="xclientData" name="xclientData" />
    </div>
  </div>
</form>